.vscode/**
.vscode-test/**
src/**
webview-ui/src/**
webview-ui/node_modules/**
webview-ui/package.json
webview-ui/package-lock.json
webview-ui/tsconfig.json
webview-ui/vite.config.ts
webview-ui/.gitignore
webview-ui/README.md
out/test/**
out/**/*.map
tsconfig.json
.gitignore
vsc-extension-quickstart.md
.eslintrc.json
.prettierrc
.prettierignore
CHANGELOG.md
package-lock.json
node_modules/**
**/*.ts
**/*.map
.git/**